body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    Color: Blue
}

header h2 {
    color: bisque;
}

.site-footer {
    background-image: linear-gradient(bisque, white);
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, red, 
    blue, orange);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px 0px;
    min-height: 200px;
}

.navbar {
    background-color: orange;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
